@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }
  
  .section__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--white);
  }
  
  .section__subheader {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--text-light);
  }

  img {
    width: 100%;
    display: flex;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
  }


nav {
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #000000;
  }
  
  .nav__logo {
    max-width: 150px;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--white);
  }
  
  .link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    transition: 0.3s;
  }
  
  .link a:hover::after {
    width: 50%;
  }
/*ad banner */
#ad-banner {
    width: 90%;
    height: 300px; 
    overflow: hidden; 
    
    margin-left: 70px;
    margin-right: 100px;
    margin-top: 50px;
}

#ad-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: none; 
    cursor: pointer;
}

/* supplements */
.supplements-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
    justify-content: center;
    padding: auto;
    margin: 50px;
}

.supplement {
    text-align: center;
    padding: 20px;
    background-color:  rgb(255, 255, 255); 
    border-radius: 10px; 
}

.supplement img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
}

.supplement h3{
    color: rgb(0, 0, 0);
    font-size:medium;
    text-align: center;
}

button {
    background-color:#f9ac54;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #d79447;
}

.brands h1{
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 5rem;
}

.partner-brand{
    background-color: white;

}

.partner-brands-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;

  
}

.partner-brand img {
    width: 100%;
    height: auto;
    max-width: 80%;

}


/*FOOTER SECTION */

.footer__container {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
  }
  
  .footer__blur {
    bottom: 0;
    right: 0;
  }
  
  .footer__logo {
    max-width: 150px;
    margin-bottom: 2rem;
  }
  
  .footer__col p {
    margin-bottom: 2rem;
    color: var(--text-light);
  }
  
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__socials a {
    padding: 5px 10px;
    font-size: 1.25rem;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 100%;
    transition: 0.3s;
  }
  
  .footer__socials a:hover {
    color: var(--white);
    background-color: var(--secondary-color);
  }
  
  .footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
  }
  
  .footer__col > a {
    display: block;
    margin-bottom: 1rem;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .footer__col > a:hover {
    color: var(--secondary-color);
  }
  
  .footer__bar {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--white);
  }
  
  @media (width < 900px) {
    .nav__links {
      display: none;
    }
  
    .header__container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .header__image {
      grid-area: 1/1/2/2;
    }
  
    .explore__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  
    .class__container {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .class__image {
      min-height: 500px;
    }
  
    .price__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .review__container {
      gap: 2rem;
    }
  
    .footer__container {
      grid-template-columns: 1fr 200px;
    }
  }
  
  